# env.list should NEVER be committed
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_ACCOUNT_ID=

# Name of the stack should not be longer than 26 characters for the current example
STACK_NAME=
CFN_FILE=kinesis/cfn.yml
CFN_PARAMS_FILE=kinesis/cfn.params.json