# The file env.template contains names of env vars only with description. So no values are set.

ENV
GREETING_MESSAGE

# If these are set, assume-role before deploying
AWS_REGION
AWS_ROLE
AWS_ACCOUNT_ID

# AWS env vars. If you are using ~/.aws, no need to set values. Values set here will have precedence over ~/.aws when using aws cli
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN
AWS_PROFILE
