service: amaysim-apigw-example
package:
  artifact: package/package.zip
provider:
  name: aws
  runtime: nodejs6.10
  region: ${env:AWS_REGION}
  stage: ${env:ENV}

functions:
  greet:
    handler: src/handler.greet
    environment:
      GREETING_MESSAGE: ${env:GREETING_MESSAGE}
    events:
      - http:
          path: greet
          method: get